@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;

}

body {
  background: black;
}

@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-4 sm:flex-row md:gap-6 relative z-20;
  }

  .nav-li {
    @apply text-neutral-400 hover:text-white max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-lg md:text-base hover:text-white transition-colors;
  }

  .nav-sidebar {
    @apply bg-neutral-900 absolute backdrop-blur-sm sm:hidden max-sm:w-full block overflow-hidden mx-auto left-0 right-0 transition-all duration-300;
  }

  .btn {
    @apply flex gap-4 relative justify-center items-center text-white hover:bg-black rounded-md p-4 shadow-md;
  }

  .grid-container {
    @apply bg-neutral-950 p-8 rounded-md h-full;
  }

  .ping-anim {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full opacity-75 bg-green-400;
  }

  .green-dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-400;
  }

  .copy-container {
    @apply flex gap-2 hover:cursor-pointer p-4;
  }

  .grid-subtext {
    @apply text-gray-400 text-base sm:text-lg;
  }

  .head-text {
    @apply font-bold text-white sm:text-2xl text-xl py-4;
  }

  .tech-logo {
    @apply w-12 h-12 content-center bg-neutral-950 rounded-lg p-1 shadow-lg;
  }
  .field-label{
    @apply text-neutral-200 text-sm;
  }
  .field-input{
    @apply bg-neutral-900 text-white rounded-md p-2 placeholder:text-neutral-500;
  }
  .field-btn{
    @apply bg-green-700 text-white rounded-md p-2;
  }
  .field-btn:hover{
    @apply bg-green-500;
  }
  .social-icon{
    @apply text-white flex gap-6;
  }
  .work-content{
    @apply flex;
  }
  .work-content_container{
    @apply p-4 rounded-md;
  }
  .work-content_logo{
    @apply rounded-3xl w-16 h-16 p-2 bg-slate-800;
  }
  .work-content_bar{
    @apply mt-4 h-full w-0.5 bg-gray-900 group-hover:bg-gray-600 transition-all group-last:hidden;
  }
  .work-canvas {
    @apply col-span-1 rounded-lg bg-black border border-gray-900;
  }
  .work-container {
    @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
  }
  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-neutral-900 rounded-lg sm:px-5 px-2.5;
  }
  .gradient-light{
    @apply bg-gradient-to-bl to-transparent rounded-lg;
  }
}


.waving-hand {
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}


.logo {
  animation: spin 4s linear infinite;
  overflow-x: hidden;
}


.animatedText{
  animation: 1s ease-out 0s 1 emerge;
}


@keyframes emerge{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }
  to{
      transform: rotate(360deg);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0.0deg);
  }
  
  10% {
    transform: rotate(14.0deg);
  }

  20% {
    transform: rotate(-8.0deg);
  }

  30% {
    transform: rotate(14.0deg);
  }

  40% {
    transform: rotate(-4.0deg);
  }

  50% {
    transform: rotate(10.0deg);
  }

  60% {
    transform: rotate(0.0deg);
  }

  100% {
    transform: rotate(0.0deg);
  }
}

